<h3>Stats</h3>
<center>
  <p>home: <strong><%= Installer.home %></strong></p>
</center>
<center>
  <p>path: <strong><%= Rails.root.to_s %></strong></p>
</center>
<center>
  <p>ip: <strong><%= IfConfig.ips[0] %></strong></p>
</center>
<center>
  <p>link: <strong><%= APP_CONFIG["market_link"] %></strong></p>
</center>
<center>
  <p>autostart: <strong><%= Installer.autostart? %></strong></p>
</center>

