<!DOCTYPE html>
<html>
<head>
  <title>Kronstadt</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div data-role="page" id="page1">
      <div data-theme="a" data-role="header">
        <center>
          <%= link_to(image_tag('home.png'), '/html/system', "data-transition" => "none") %>
          <%= link_to(image_tag('file_system.png'), '/html/file_system', "data-transition" => "none") %>
          <%= link_to(image_tag('star.png'), '/html/file_system/bookmarks', "data-transition" => "none") %>
          <%= link_to(image_tag('mouse.png'), '/html/mouse_input', "data-transition" => "none") %>
          <%= link_to(image_tag('window.png'), '/html/window_manager', "data-transition" => "none") %>
        </center>
      </div>

      <div data-role="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
