<!DOCTYPE html>
<html>
<head>
  <title>kronstadt</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div data-role="page" id="page1">
      <div data-theme="a" data-role="header">
        <center>
          <%= menu_link('home.png', '/html/system') %>
          <%= menu_link('file_system.png', '/html/file_system') %>
          <%= menu_link('star.png', '/html/file_system/bookmarks') %>
          <!-- http://invalidurluglyhack.cezara using this url, because android app checks for string ending with cezara at url-->
          <!-- it then opens the mouse activity -->
          <!-- this is an ugly hack, don't try this at home -->
          <%= menu_link('mouse.png', 'http://invalidurluglyhack.cezara/cezara') %>
          <%= menu_link('window.png', '/html/window_manager?timestamp=' + Time.now.to_s) %>
          <%= menu_link('notes.png', '/notes') %>
          <%= menu_link('radio.jpeg', '/html/radio_manager') %>
          <%= menu_link('trivia.png', '/html/trivia') %>
        </center>
      </div>

      <div data-role="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
